@import "../../../../styles/variables";

.linkParts {
  @include center-se;
  width: 100%;
  height: 350px;
  background-color: gray;
  margin-top: 100px;
}

.linkDiv {
  @include center;
  width: 300px;
  height: 300px;
  background-color: white;
}
